# vim: ft=sh
# A few nice things
alias less='less -r'             # raw control characters
alias whence='type -a'           # where, of a sort
alias grep='grep --color'        # show differences in colour
alias egrep='egrep --color=auto' # show differences in colour
alias fgrep='fgrep --color=auto' # show differences in colour
alias se='sudoedit'

# Replace ls with lsd
alias ls='lsd --versionsort' # classify files in colour, use natual sort by default
alias l='ls -l'
alias la='ls -a'
alias lla='ls -la'
alias lt='ls --tree'
alias llt='ls -l --tree'

# Shortcuts
# alias bat='batcat'
alias vim='nvim'
alias lg='lazygit'
alias py='python3'
# alias fd='fdfind'
alias uvr='uv run'
alias wlc='wl-copy'

# Nordvpn
alias nvc='nordvpn connect'
alias nvd='nordvpn disconnect && sudo pkill norduserd'

# Interactive operation...
alias rm='rm -i'
alias cp='cp -i'
alias mv='mv -i'

# User defined functions
monlog() {
  tail -f "$1" | bat -l log --paging=never
}

# disown next command
d() {
  "$@" &>/dev/null &
  disown
}
