@define-color color-text #cdd6f4;
@define-color color-bg rgba(30, 30, 30, 0.8);
@define-color color-bg-dark #1e1e1e;
@define-color color-border #11111b;
@define-color color-blue #89b4fa;
@define-color color-green #a6e3a1;
@define-color color-yellow #e8db92;
@define-color color-red #eba0ac;
@define-color color-peach #fab387;
@define-color color-gold #f9e2af;
@define-color color-purple #9c8bfd;
@define-color color-cyan #8be9fd;
@define-color color-orange #d99280;
@define-color color-spotify #1db954;
@define-color bg-workspace rgba(30, 30, 30, 0.8);
@define-color bg-tooltip rgba(8, 7, 10, 0.8);

* {
    border: none;
    border-radius: 0;
    font-family: "Hack Nerd Font", "Hack";
    font-weight: bold;
    font-size: 14px;
    min-height: 0;
}

window {
    background-color: rgba(0, 0, 0, 0);
    background: transparent;
    color: @color-text;
    transition-property: background-color;
    transition-duration: .5s;
}

window#waybar.hidden {
    opacity: 0.2;
}

tooltip {
    background: @bg-tooltip;
    border-radius: 18px;
    border-width: 2px;
    border-style: solid;
    border-color: @color-border;
}

#workspaces {
    background: @bg-workspace;
    padding: 4px 5px;
    border-radius: 0 0 15px 15px;
    border: 0.5px solid #032412;
}

#workspaces button {
    padding: 0px 10px;
    border-radius: 9px;
    margin: 0 1px;
    color: @color-text;
    transition: all 0.3s ease-in-out;
}

#workspaces button.empty {
    opacity: 0.4;
}

#workspaces button.active {
    color: @color-bg;
    background-color: @color-text;
    border-radius: 16px;
    min-width: 35px;
    transition: all 0.3s ease-in-out;
    /*opacity: 1.0;*/
}

#workspaces button.urgent {
    background-color: @color-text;
    color: @color-bg;
    border-radius: 16px;
    min-width: 50px;
    background-size: 300% 300%;
}

#workspaces button:hover {
    background-color: @color-text;
    color: @color-bg;
    border-radius: 16px;
    min-width: 50px;
    background-size: 400% 400%;
}

#clock,
#network,
#bluetooth,
#window,
#custom-rofi,
#custom-power_btn,
#custom-lock_screen,
#custom-wol,
#custom-tailscale,
#custom-updates,
#custom-github,
#custom-media,
#power-profiles-daemon,
#temperature,
#battery,
#backlight,
#custom-wl-gammarelay-temperature,
#pulseaudio,
#tray,
#custom-swaync {
    background-color: @color-bg;
    padding: 3px 7px 3px 7px;
    border: none;
}

/* LEFT MODULES */

#clock {
    color: @color-peach;
}

#network {
    color: @color-gold;
}

#network.disabled {
    color: @color-gold;
}

#bluetooth {
    color: @color-blue;
}

#idle_inhibitor {
    border-radius: 0 0 18px 0px;
    color: #89b4fa;
    background-color: @color-bg;
    padding: 6px 22px 6px 0px;
    border: none;
}

#window {
    border-radius: 0 0 18px 18px;
    margin-left: 20px;
    margin-right: 20px;
    padding: 0 18px;
    padding-bottom: 2px;
}

window#waybar.empty #window {
    background-color: transparent;
}

/* CENTER MODULES */

#custom-rofi {
    opacity: 0.6
}

#custom-power_btn {
    color: @color-purple;
}

#custom-lock_screen {
    color: @color-purple;
}

#custom-tailscale
#custom-wol

#custom-tailscale.green,
#custom-wol.green {
    color: @color-green;
}
#custom-tailscale.red,
#custom-wol.red {
    color: @color-red;
}
#custom-wol.orange {
    color: @color-peach;
}

#custom-updates.green {
    color: @color-green;
}

#custom-updates.yellow {
    color: @color-yellow;
}

#custom-updates.red {
    color: @color-red;
}

#custom-github {
    border-radius: 0px 18px 18px 0px;
}

#custom-github.green {
    color: @color-green;
}

#custom-github.yellow {
    color: @color-yellow;
}

#custom-github.red {
    color: @color-red;
}

/* RIGHT MODULES */

#custom-media {
    padding: 0 15px;
    margin-right: 20px;
    border-radius: 0 0 18px 18px;
}

#custom-media.custom-spotify {
    color: @color-spotify;
}

#temperature {
    color: @color-cyan;
}

#temperature.critical {
    color: @color-red;
}

#battery {
    border-radius: 0 0 0 18px;
    padding: 0px 0px 0px 15px;
    color: @color-green;
}

#battery.warning {
    color: @color-yellow;
}

#battery.critical {
    color: @color-red;
}

#power-profiles-daemon{
    padding: 0px 0px 0px 7px;
}

#power-profiles-daemon.power-saver{
    color: @color-green;
}

#power-profiles-daemon.balanced{
    color: @color-cyan;
}

#power-profiles-daemon.performance{
    color: @color-yellow;
}

#custom-wl-gammarelay-temperature {
    padding: 0px 0px 0px 7px;
    color: @color-orange;
}

#backlight {
}

#pulseaudio {
    padding: 0 5px; 
    color: @color-blue;
}

#pulseaudio.microphone {
    padding: 0 5px; 
    color: #cba6f7;
}

#tray {
}

#custom-swaync {
    border-radius: 0;
}

#custom-updates {
    padding: 0px 0px 0px 7px;
}
